* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #0A79DF,#4834DF);
}


.container{
    cursor: pointer;
}

span{
    color: aliceblue;
    font-size: 11rem;
    font-weight: bolder;
    line-height: 1;
    display: inline-block;

}
span.active{
    animation: jump 2s ease-in-out;
}

@keyframes jump{
    0%{
        transform: translate(0,0) rotate(180deg);
    }
    100%{
        transform: scale(1.5) translate(0,-150px);
    }
}


